--
-- PostgreSQL database dump
--

-- Dumped from database version 17rc1
-- Dumped by pg_dump version 17rc1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_modified_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_modified_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.date_modified = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_modified_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: additem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.additem (
    id integer NOT NULL,
    type character varying(100) NOT NULL,
    size character varying(50) NOT NULL,
    article character varying(150) NOT NULL,
    category character varying(100) NOT NULL,
    mc_name character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    qty integer,
    form_id uuid,
    quotation_id uuid NOT NULL,
    mrp numeric(10,2),
    discount_rate numeric(5,2),
    net_rate numeric(10,2)
);


ALTER TABLE public.additem OWNER TO postgres;

--
-- Name: additem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.additem_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.additem_id_seq OWNER TO postgres;

--
-- Name: additem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.additem_id_seq OWNED BY public.additem.id;


--
-- Name: cards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cards (
    card_id uuid DEFAULT gen_random_uuid() NOT NULL,
    type character varying(50) NOT NULL,
    size character varying(50) NOT NULL,
    items json
);


ALTER TABLE public.cards OWNER TO postgres;

--
-- Name: customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer (
    customer_id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(10),
    name character varying(255) NOT NULL,
    billing_address text,
    shipping_address text,
    phone_number character varying(15),
    whatsapp_number character varying(15)
);


ALTER TABLE public.customer OWNER TO postgres;

--
-- Name: final_quotation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.final_quotation (
    quotation_id character varying(50) NOT NULL,
    customer_id uuid DEFAULT gen_random_uuid(),
    card_ids uuid[],
    margin_ids uuid[],
    date_created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.final_quotation OWNER TO postgres;

--
-- Name: item_pricing; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item_pricing (
    id integer NOT NULL,
    itemname character varying(255) NOT NULL,
    discount numeric(10,2),
    netrate numeric(10,2),
    margincategory character varying(50),
    discountcategory character varying(50)
);


ALTER TABLE public.item_pricing OWNER TO postgres;

--
-- Name: item_pricing_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.item_pricing_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.item_pricing_id_seq OWNER TO postgres;

--
-- Name: item_pricing_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.item_pricing_id_seq OWNED BY public.item_pricing.id;


--
-- Name: items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.items (
    item_id integer NOT NULL,
    type character varying(255),
    size character varying(50),
    mrp numeric(10,2),
    article character varying(255),
    cat1 character varying(50),
    cat2 character varying(50),
    cat3 character varying(50),
    margin_category character varying(50),
    discount_category character varying(50),
    mc_name character varying(255),
    image_url character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    type_image_url text,
    temp character varying(255),
    gst numeric(5,2),
    make character varying(255)
);


ALTER TABLE public.items OWNER TO postgres;

--
-- Name: items_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.items_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.items_item_id_seq OWNER TO postgres;

--
-- Name: items_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.items_item_id_seq OWNED BY public.items.item_id;


--
-- Name: margin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.margin (
    margin_id uuid DEFAULT gen_random_uuid() NOT NULL,
    mc_name character varying(50),
    margin double precision NOT NULL
);


ALTER TABLE public.margin OWNER TO postgres;

--
-- Name: pickmargin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pickmargin (
    mc_name character varying(255) NOT NULL,
    margin numeric(10,2) NOT NULL,
    id integer NOT NULL,
    quotation_id uuid NOT NULL
);


ALTER TABLE public.pickmargin OWNER TO postgres;

--
-- Name: pickmargin_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pickmargin_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pickmargin_id_seq OWNER TO postgres;

--
-- Name: pickmargin_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pickmargin_id_seq OWNED BY public.pickmargin.id;


--
-- Name: quotation_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quotation_items (
    quotation_items_id integer NOT NULL,
    article character varying(255) NOT NULL,
    image_url character varying(255),
    quantity integer NOT NULL,
    category character varying(100),
    type character varying(100),
    size character varying(50),
    margin numeric(5,2),
    discount_rate numeric(10,2),
    mrp numeric(10,2),
    net_rate numeric(10,2),
    final_rate numeric(10,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    item_id integer,
    quotation_id uuid NOT NULL
);


ALTER TABLE public.quotation_items OWNER TO postgres;

--
-- Name: quotation_items_quotation_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.quotation_items_quotation_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quotation_items_quotation_items_id_seq OWNER TO postgres;

--
-- Name: quotation_items_quotation_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.quotation_items_quotation_items_id_seq OWNED BY public.quotation_items.quotation_items_id;


--
-- Name: quotations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quotations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.quotations OWNER TO postgres;

--
-- Name: wip_quotation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wip_quotation (
    quotation_id character varying(50) NOT NULL,
    card_ids text[],
    margin_ids text[],
    date_created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    customer_id uuid
);


ALTER TABLE public.wip_quotation OWNER TO postgres;

--
-- Name: additem id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.additem ALTER COLUMN id SET DEFAULT nextval('public.additem_id_seq'::regclass);


--
-- Name: item_pricing id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_pricing ALTER COLUMN id SET DEFAULT nextval('public.item_pricing_id_seq'::regclass);


--
-- Name: items item_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items ALTER COLUMN item_id SET DEFAULT nextval('public.items_item_id_seq'::regclass);


--
-- Name: pickmargin id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pickmargin ALTER COLUMN id SET DEFAULT nextval('public.pickmargin_id_seq'::regclass);


--
-- Name: quotation_items quotation_items_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotation_items ALTER COLUMN quotation_items_id SET DEFAULT nextval('public.quotation_items_quotation_items_id_seq'::regclass);


--
-- Data for Name: additem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cards; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: final_quotation; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: item_pricing; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: margin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.margin (margin_id, mc_name, margin) FROM stdin;
0fab6614-658c-44f5-a830-77e6e2e3530a	CPVC Pipe 3/4"; 1"	7
0c360b42-e6fa-4b38-a096-573e86b6e7c2	CPVC Pipe 1-1/4"; 1-1/2"; 2"	9
d7fb4ad5-39f2-467d-8112-4267f98af8cf	CPVC Fittings	3
8090e3ba-adae-4902-9aa5-71580c33f66f	UPVC Fitting	9
edf119ab-104a-423f-af47-46075275abed	SWR / PVC / Agri Fittings	1
7ea1fa1a-4875-4a71-8c63-52880700a71d	UGD / SWR Pipe 75; 90; 110; 160mm	12
d752f85a-e3f3-4291-aae5-452e51c2483a	null	3
3c4a948d-8117-40b6-9cdc-17f1c4942748	UPVC Pipe	6
76778560-92c0-4eb2-b078-71c1e8488afa	SWR / Agri Pipe	12
\.


--
-- Data for Name: pickmargin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pickmargin (mc_name, margin, id, quotation_id) FROM stdin;
CPVC Fittings	2.00	5	a9b0f86b-4585-4be7-8228-75e29c3d934a
CPVC Fittings	3.00	6	a43167b9-0aff-4155-851d-d2532d75688d
CPVC Fittings	4.00	7	f28ce516-3d63-46d8-8c95-36d7cbfee0ce
CPVC Fittings	7.00	8	2d9c74fc-16c6-42be-861e-3418f1812c3a
UGD / SWR Pipe 75; 90; 110; 160mm	3.00	9	12dc4e06-9535-4ec8-8201-e30a53922e27
CPVC Pipe 1-1/4"; 1-1/2"; 2"	5.00	10	aa4470bd-2715-495f-a52d-72f67976fcc8
\.


--
-- Data for Name: quotation_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quotations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: wip_quotation; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: additem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.additem_id_seq', 179, true);


--
-- Name: item_pricing_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.item_pricing_id_seq', 34, true);


--
-- Name: items_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.items_item_id_seq', 531, true);


--
-- Name: pickmargin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pickmargin_id_seq', 10, true);


--
-- Name: quotation_items_quotation_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quotation_items_quotation_items_id_seq', 16, true);


--
-- Name: additem additem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.additem
    ADD CONSTRAINT additem_pkey PRIMARY KEY (id);


--
-- Name: cards cards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cards
    ADD CONSTRAINT cards_pkey PRIMARY KEY (card_id);


--
-- Name: customer customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_pkey PRIMARY KEY (customer_id);


--
-- Name: final_quotation final_quotation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.final_quotation
    ADD CONSTRAINT final_quotation_pkey PRIMARY KEY (quotation_id);


--
-- Name: item_pricing item_pricing_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_pricing
    ADD CONSTRAINT item_pricing_pkey PRIMARY KEY (id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (item_id);


--
-- Name: margin margin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.margin
    ADD CONSTRAINT margin_pkey PRIMARY KEY (margin_id);


--
-- Name: pickmargin pickmargin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pickmargin
    ADD CONSTRAINT pickmargin_pkey PRIMARY KEY (id);


--
-- Name: quotation_items quotation_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotation_items
    ADD CONSTRAINT quotation_items_pkey PRIMARY KEY (quotation_items_id);


--
-- Name: quotations quotations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotations
    ADD CONSTRAINT quotations_pkey PRIMARY KEY (id);


--
-- Name: wip_quotation wip_quotation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wip_quotation
    ADD CONSTRAINT wip_quotation_pkey PRIMARY KEY (quotation_id);


--
-- Name: final_quotation update_final_quotation_modified; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_final_quotation_modified BEFORE UPDATE ON public.final_quotation FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: quotation_items fk_item_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotation_items
    ADD CONSTRAINT fk_item_id FOREIGN KEY (item_id) REFERENCES public.items(item_id);


--
-- PostgreSQL database dump complete
--

