/* Global Styles
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff8e1;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 24px;
    font-weight: 700;
    color: #f57c00;
    text-align: center;
    padding-top: 20px;
  }
  
  /* Accordion Styles */
  /* .accordion {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }
  
  .accordion-header.open {
    background-color: #fff7e6;
  }
  
  .accordion-header.closed {
    background-color: #fff;
  }
  
  .accordion-header .icon {
    font-size: 18px;
    color: #f57c00;
  }
  
  .accordion-body {
    padding: 10px 15px;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
  }
  
  .accordion-body ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .accordion-body li {
    margin-bottom: 10px;
  }
  
  .accordion-body img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
  } */ 
  
  /* button {
    background-color: #f57c00;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e65100;
  }
   */
  /* .selected-items {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .selected-items h3 {
    font-size: 18px;
    font-weight: bold;
    color: #f57c00;
  }
  
  .selected-items ul {
    padding-left: 0;
    margin-top: 10px;
  }
   */